.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.env
*.tfvars
*.log
*.vscode/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.whl
.ipynb_checkpoints/
.env/
.conda/
.condarc
.conda-environments.txt
*.conda
*.conda-lock
venv/
ENV/
env/
venv.bak/
venv.bak/